body {
    font: 20px "Century Gothic", Futura, sans-serif;
    margin-top: 70px;
    margin-left: 800px;
    background-color: #2a9d8f;
}

ol,
ul {
    padding-left: 30px;
}

h1  {
    color: #264653;
    font-size: 4.2rem;
    margin-left: 100px;
}

#moves   {
    background-color: #264653;
    font-size: 1.2rem;
    width: 160px;
    height: 60px;
    color: #e9c46a;
    padding: 10px;
    margin: 10px;
    border: 1px solid #e9c46a;
    border-radius: 10px;
}

li{
    color: #264653;
    font-size: 1.5rem;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

#status {
    color: #e9c46a;
    font-size: 1.9rem;
    margin-left: 10px;
}

.square {
    background: #e9c46a;
    border: 1px solid #000000;
    color: #264653;
    float: left;
    font-size: 164px;
    font-weight: bold;
    line-height: 184px;
    height: 184px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 184px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}